.Button {
    @include shadow;
    @include shadowHover;

    display: inline-block;
    line-height: $gutter*1.5;
    padding-left: $gutter;
    padding-right: $gutter;
    padding-top: 1px;
    padding-bottom: 0;
    background: $colorGray;
    border: 1px solid $colorGray;
    border-radius: $gutter*1.5;
    font-weight: $fontRegular;
    text-decoration: none;
    letter-spacing: 2px;
    color: $colorLight;
    font-size: 16px;
    position: relative;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }

    .icon {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 24px;
        &.icon-left {
            left: $gutter/2;
        }
        &.icon-right {
            right: $gutter/2;
        }
    }

    &.--icon-right {
        .icon {
            right: $gutter/2;
        }
        .text {
            padding-right: 5px;
        }
    }

    &.--highlight {
        background: $colorHighlight;
        border-color: $colorHighlight;
    }

    &.--primary {
        background: $colorPrimary;
        border-color: $colorPrimary;
    }

    &.--wide {
        padding-left: $gutter*2;
        padding-right: $gutter*2;
    }
    &.--wide.--icon-right {
        .icon {
            right: $gutter;
        }
    }
}