.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.Header__container {
    @include container;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    height: $headerHeight;
}

.Header__left {

}

.Header__right {
    flex-grow: 1;
}